body{
    background-color:#232326;
    background-image:url(../images/sandbox_watermark.png);
    background-size:800px 819px;
    background-position:-40% center;
    background-attachment: fixed;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    color:#d2d2d2;
}

.site-container{
    width:960px;
    margin:0px auto;
    clear:both
}

.sandboxIcon{
    background-image:url(../images/sandbox_icon.png);
    height:220px;
    margin-top:34px;
}

.oncaseSandbox{
    background-image:url(../images/oncase-sandbox.png);
    height:60px;
}

.bg-no-repeat{
    background-repeat:no-repeat;
}

.bg-center{
    background-position:center center;
}

.bg-contain{
    background-size:contain;
}

.hairline{
    border:none;
    height:1px;
    background-color:#444446;
}

.text-center{
    text-align: center;
}

h2{
    margin-top:0px;
    color:#b1de62;
    font-size:24px;
    font-weight: 100;
}

p.intro-text{
    font-size:20px;
}

.boxes-container{
    margin-top:50px;
    margin-bottom:120px;
}

.box{
    width:31%;
    height:265px;
    border:solid 1px #343437;
    float:left;
    background-color:#27272a;
    margin:1%;
    position:relative;
    cursor:pointer;
    overflow:hidden;
}


.icon-twitter{
    background-image:url(https://g.twimg.com/Twitter_logo_white.png);
    
}

.icon-twitter path{
    fill:#ff6600;
}

.project-icon{
    height:217px;
    background-size: auto 40%;
    background-position: center center;
    background-repeat:no-repeat;
}

.content-wrapper{
    -webkit-transition: top ease-out 200ms; /* For Safari 3.1 to 6.0 */
    transition: top ease-out 200ms;
    top: 0px;
    clear:both;
    position:absolute;
    left:0px;
    right:0px;
}

.content-wrapper-hover{
    top: -217px;
}

.project-title{
    padding:10px;
    font-size:22px;
    line-height:28px;
    text-align:center;

}

.touch-more{
    font-size:32px;
    width: 30px;
    height: 38px;
    float: right;
    display: none;
    top: 0px;
}
.touch-more:after{
    content:'+';
    color:#fff;
}

.content-wrapper-hover div.touch-more:after{
    content:'-';
}

.project-description{
    margin:20px;
    margin-top:18px;
    font-size:20px;
}

.bg-purple{background-color:#7761a7;}
.bg-orange{background-color:#ea6153;}
.bg-cyan{background-color:#19b698 ;}
.clear-both{clear:both;}
.footer{
    margin-bottom:120px;
}





@media screen and (max-width: 1023px) {

    .site-container{
        width:100%;
        -webkit-perspective: 1000;
        -webkit-backface-visibility: hidden;
    }
    .box{
        height:250px;
        width:90%;
        margin:10px 5%;
        -webkit-perspective: 1000;
        -webkit-backface-visibility: hidden;
    }
    
    .project-title{
        font-size:18px;
        font-weight:500;
        -webkit-perspective: 1000;
        -webkit-backface-visibility: hidden;
    }
    
    .touch-more{
        display:block;
        -webkit-perspective: 1000;
        -webkit-backface-visibility: hidden;
    }
    
    .content-wrapper{
        top: 0px;
        -webkit-perspective: 1000;
        -webkit-backface-visibility: hidden;
    }
    
    .content-wrapper-hover{
        top: -202px;
    }
    
    .project-icon{
        height:202px;
        -webkit-perspective: 1000;
        -webkit-backface-visibility: hidden;
    }
    
    .project-description{
        font-size:20px;
        font-size:18px;
    }
}


@media screen and (min-width: 1024px) and (max-width: 1279px) {
    .site-container{
        width:960px;
    }
}

@media screen and (min-width: 1280px) and (max-width: 1439px) {
    .site-container{
        width:1200px;
    }
}


@media screen and (min-width: 1440px) {
    .site-container{
        width:1300px;
    }
}
