<!DOCTYPE html>
<head>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,300,400' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="css/oncase.sandbox.css">
    <link rel="stylesheet" type="text/css" href="css/icons.css">
    <link rel="stylesheet" type="text/css" href="css/colors.css">
    <script src='js/nprogress.js'></script>
    <link rel='stylesheet' href='css/nprogress.css'/>
    <script src="js/jquery.history/scripts/bundled/html4+html5/jquery.history.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0"/>
</head>

<html>
    <body class="bg-no-repeat">
        <div class="bg-contain bg-center bg-no-repeat sandboxIcon"></div>
        <div class="bg-contain bg-center bg-no-repeat oncaseSandbox"></div>
        <hr class="hairline" />
        <div class="site-container">
            <div class="text-center">
                <h2>The place where all the fun is happening.</h2>
                <p class="intro-text">Oncase Sandbox is a space maintained by some crazy people in our company that insist to share some ideas and crazy projects that they're working on. It's usually stuff to be used with Pentaho applications and environments.</p>
            </div>
            <div class="boxes-container">